{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marigarated</title>


</head>

<body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a href="{% url 'home' %}"><img class="navbar-logo" src="{% static 'images/flaticon.png' %}"
                    alt="image alt text" /></a>
            <a class="navbar-brand" href="{% url 'home'%}" style="color: white;">Marigarated</a> <button
                class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <img src="{% static 'images/menu.png' %}">
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="btn btn-lg active" aria-current="page" href="{% url 'profile' user %}">Hello
                            {{user}}</a>
                    </li>
                    <li class=" nav-item ">
                        <a class=" btn active " href="/logout/ ">Logout</a>
                    </li>
                    <li class="nav-item ">
                        <a class=" btn active " href="{% url 'new_project'%} ">new Project</a>
                    </li>
                    {% else %}
                    <li class="nav-item ">
                        <a class=" btn active " href="/accounts/login/ ">Login</a>
                    </li>
                    <li class="nav-item ">
                        <a class='btn btn-default' href="/accounts/register/ ">Register</a> {% endif %}
                    </li>

                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</body>

<style>
    a,
    li {
        text-decoration: none;
    }

    .navbar {
        background-color: transparent;
        color: wheat;
    }
</style>

</html>